html,
body,

#bar1 {
    height: 100%;
    padding: 0;
    margin: 0;
}

#bar2 {
    height: 100%;
    padding: 0;
    margin: 0;
}

#map-1 {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#map-2 {
    height: 96.2%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.leafpad td, .leafpad th { padding: 0; }

.imgcrop {
    width: 100%;
    height: 50px;
    object-fit: cover;
    object-position: 25% 25%;
    overflow: hidden;
    margin-bottom: 5px;
}

.legend {
    padding: 10px;
    padding-bottom: 0px;
    background-color: white;
    border-radius: 5px;
    border: 1px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}