{% extends "base.html" %}
{% block title %}Home page{% endblock %}

{% block content %}
<div class="row" style="margin-top: 10px;">
    <div class="col-md-12 p-1 text-body-secondary">
        <p><h1 align="center">Main Title Goes Here</h1></p>
        <h4 align="center">By....</h4>
        <hr/>
    </div>
</div>
<div class="row">
    <div class="col-md-2">  
        <div class="p-1 text-body-secondary" style="margin-left: 10px;background-color: white; border-radius: 5px; border: 1px solid rgb(206, 206, 206);">
            <p><h6>Select a Coffee Chain:</h6></p>
            <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
        <br/>
        <div class="p-1 text-body-secondary" style="margin-left: 10px;background-color: white; border-radius: 5px; border: 1px solid rgb(206, 206, 206);">
            <p>For Overview info</p>
        </div>
    </div>
    <div class="col-md-4" style="margin-left: 35px; border:1px solid black;">
        <div id="bar1"></div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4" style="margin-left: 35px; border:1px solid black;">
        <div id="bar2"></div>
    </div>

    <div class="col-md-12">
        <hr/>
        <div class="row">
            <div class="col-md-12" align="center">
                <div id="map1"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="../static/js/charts.js"></script>
    <script type="text/javascript" src="../static/js/map.js"></script>
{% endblock %}